[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Benchmarking"]
	path = Benchmarking
	url = https://github.com/cran/Benchmarking
